bootstrap-5.3.3
bootstrap-icons-1.11.3
readme.js
readme.html
vendor
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
composer
###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###
src
templates
test
translations
compose.override.yaml
composer.yaml
composer.json
composer.lock
symfony.lock


###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
###< mongodb ###
mongo-php-driver
